# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
playwright/.cache/

# Logs
*.log

# Screenshots de test
target/screenshots/

# ia
.claude
